header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url('../images/IMG_6458 2.jpg');
    padding: 75px;
    min-height: 100px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center 0px top 15px; /* Mess with this one some more*/
  }

  h1 {
    display: flex;
    flex-wrap: nowrap;
    font-size: 45px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header > p {
    font-size: 20px;
    margin: 10px;
  }