*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background-color: #e7ebf1;
}

img {
  height: 60vh;
  width:auto;
  border-radius: 40px;
}

button {
  margin: 10px;
  background-color: #ffe8fce1;
  padding: .3rem;
  text-shadow: 0 0 18px white;
  font-size: large;
  font-weight: 6000;
  border: 2px solid black;
  border-style: groove;
  border-radius: 5px;
}